timeservice
testnet/journaltail/journaltail
testnet/ntimed/ntimed-tool
testnet/offplot/offplot

testnet/gen*/**/certs/
testnet/gen*/**/crypto/
testnet/gen*/**/keys/
testnet/gen-cache/
testnet/gen/ISD*/
testnet/gen/tls.crt
testnet/gen/tls.key
testnet/gen/trcs/
testnet/logs/
